.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}

/* Add this CSS to your existing styles or import a separate CSS file */
.image-zoom-container {
  overflow: hidden;
}

.image-zoom-container img {
  transition: transform 0.3s ease;
}

.image-zoom-container:hover img {
  transform: scale(1.5);
}